@{
    ViewData["Title"] = "Home Page";
}

<div class="site-home-banner">
    <h2>Brigham Young University - Idaho</h2>
</div>
<div class="row">
    <img class="site-img-max" src="~/imgs/BYU-Idaho.jpg" alt="BYUI Campus Image" />
</div>
<hr />

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Brigham Young University - Idaho</h2>
        <p>
            Brigham Young University - Idaho is a wonderful University located in Southeastern Idaho, providing access to adventures both on and off campus.
        </p>
    </div>
    <div class="col-md-4">
        <h2>So Many Exciting Courses!</h2>
        <p>We offer many degrees and learning opportunities.</p>
        <p><a class="btn btn-default" asp-controller="Courses" asp-action="Index">Click here to learn more! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact Us</h2>
        <p>If you would like more information, feel free to contact us by following the link below.</p>
        <p><a class="btn btn-default" asp-controller="Home" asp-action="About">Contact Information &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <img class="site-img-thumbnail" src="~/imgs/BYUI-ICenter.jpg" alt="BYUI Campus Image" />
    </div>
    <div class="col-md-4">
        <img class="site-img-thumbnail" src="~/imgs/BYUI-Gardens.jpg" alt="BYUI Campus Image" />
    </div>
    <div class="col-md-4">
        <img class="site-img-thumbnail" src="~/imgs/BYUI-SwimmingPool.jpg" alt="BYUI Campus Image" />
    </div>
</div>
