@model ContosoUniversity.Models.Instructor

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Instructor</h1>

<div class="row">
    <div class="col-md-4">
        <hr />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InstructorID" />
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstMidName" class="control-label"></label>
                <input asp-for="FirstMidName" class="form-control" />
                <span asp-validation-for="FirstMidName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HireDate" class="control-label"></label>
                <input asp-for="HireDate" class="form-control" />
                <span asp-validation-for="HireDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfficeAssignment.Location" class="control-label"></label>
                <input asp-for="OfficeAssignment.Location" class="form-control" />
                <span asp-validation-for="OfficeAssignment.Location" class="text-danger" />
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <ul>
                        @{
                            int cnt = 0;
                            List<ContosoUniversity.Models.SchoolViewModels.AssignedCourseData> courses = ViewBag.Courses;

                            foreach (var course in courses) {
                                if (cnt++ % 3 == 0) {
                                @:</ul><ul>
                                }
                                @:<p>
                                    <input type="checkbox"
                                           name="selectedCourses"
                                           value="@course.CourseID"
                                           @(Html.Raw(course.Assigned ? "checked=\"checked\"" : "")) />
                                    @course.CourseID @:  @course.Title
                                @:</p>
                            }
                        @:</ul>
                        }
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-sm btn-primary" />
                    <a class="btn btn-sm btn-outline-secondary site-right" asp-action="Index">Back to List</a>
                </div>
            </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
